html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  background-color: #f5f5f5;
  color: #f5f5f5;
}

h1 {
  text-align: center;
  padding: 0px 0px;
  color: #000000;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fc73a4;
}

.menu-item {
  display: inline-block;
  padding-right: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: black;
}

.image_left {
  width: 200px;
  padding: 0px 50px;
  float: left;
}

.image_right {
  width: 200px;
  padding: 0px 50px;
  float: right;
}

p {
  font-weight: 700;
  font-size: 20px;
  color: black;
}
